/* Variables */
:root {
    --skintone: #C8A892;
    --dark-brown: #241105;
    --mamey: #D1634D;
    --off-white: #F1EFE4;
}

/* Page + Typography */
body {
    margin: 0;
    background-color: var(--off-white);
    font-family: 'Public Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    width: 70%;
    display: grid;
    margin: 10px 0;
    column-gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.grid-item-left { 
    height: fit-content;
    margin-top: 10px;
    text-align: right;
}

.grid-item-right { 
    height: fit-content;
    padding: 0 0 20px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 5px solid var(--mamey)
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-brown);
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--dark-brown);
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    line-height: 1.3rem;
    text-indent: 1rem;
}

p + p { 
    margin-top: 1rem;
}

a { 
    padding: 7px 20px;
    text-decoration: none;
    color: var(--dark-brown);
}

.btn {
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border-bottom: 3px solid;
    margin: 2px 8px;
    color: var(--mamey);
    transition: all 0.5s ease-in-out;
}

.btn:hover { 
    box-shadow: 0px 0px 8px var(--mamey);
}

img { 
    object-fit: contain;
}



/* Main Styling */
        /* Header */
header {
    height: fit-content;
    width: 100%;
    background-color: var(--off-white);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header div { 
    width: 40%; 
    background-color: var(--mamey);
    display: flex;
    justify-content: center;
}
/* ^ box the h1 is in */

header h1 {
    padding: 20px 10px 20px 10px;
    margin: 0 20px;
}

nav ul {
    margin-right: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a { 
    color: var(--dark-brown);
    font-weight: 700;
}


        /* Hero */
.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--skintone);
    border-bottom: 5px solid var(--mamey);
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.hero figure { 
    width: 40%;
    display: flex;
    justify-content: center;
}

.hero img { 
    border-radius: 50%;
    border: 3px solid var(--off-white);
}

.hero div {
    width: 300px;
    align-self: flex-end;
}

.hero h2 { 
    margin-bottom: 20px;
    padding: 10px 20px;
    color: var(--ivory);
    text-align: center;
    background: var(--mamey);
}


        /* About Me */


        /* Work */
#work .grid-item-right { 
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, 50%);
}

#work a { 
    padding: 0;
}

.big-showcase {
    height: 300px;

    grid-column-start: 1;
    grid-column-end: 3;
}

.big-showcase img { 
    object-fit: cover;
    position: relative;
}

.small-showcase { 
    height: 150px;
}

.big-showcase,
.small-showcase {
    background-color: var(--dark-brown);
    border: 2px solid var(--mamey);
    position: relative;
    opacity: .6;
    transition: all 0.5s ease-in-out;
}

.big-showcase:hover,
.small-showcase:hover {
    opacity: 1;
}

.showcase-label { 
    height: fit-content;
    width: fit-content;
    padding: 10px 10px 10px 20px;
    color: var(--off-white);
    background-color: var(--mamey);
    position: absolute;
}

.big-showcase .showcase-label { 
    bottom: 5%;
}

.small-showcase .showcase-label{ 
    bottom: 10%;
}


        /* Contact Me */
#contact-me .grid-item-right {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#contact-me h4 {
    align-self: center;
    margin: 10px 10px 0 0;
}


        /* Footer */
footer { 
    height: 50px;
    width: 100%;
    margin-top: 10px;
    color: var(--dark-brown);
    text-align: center;
    background-color: var(--skintone);
    display: flex;
    justify-content: center;
    align-items: center;
}








/* Media Queries */
    /* 769 */
@media screen and (max-width: 769px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    
    .grid-item-left { 
        text-align: left;
    }
    
    .grid-item-right { 
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 2.3rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }

    p { 
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.6rem;
    }

  /* Styling */
        /* Header */  
    header { 
        flex-direction: column;
        align-items: center;
    }

    header div { 
        width: 100%; 
    }
    /* box the h1 is in */

    header h1 { 
        margin: 0;
        padding: 20px;
    }

    nav ul { 
        width: 100%;
        margin: 10px 0;
    }

    .hero { 
        height: fit-content;
        flex-direction: column;
    }

    .hero figure { 
        width: 100%;
        margin: 20px 0;
        justify-content: center;
    }

    .hero img { 
        width: 200px;
    }

    .hero div {
        width: 100%;
        margin: 0;
    }

        /* Portfolio  */
    .showcase-label { 
        width: 100%;
        font-size: .5rem;
    }

    #contact-me h4 { 
        margin-bottom: 10px;
    }
}
    /* END 767 */




    /* 500 */
@media screen and (max-width: 500px) {
    .grid-container {
        width: 95%;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    
    .grid-item-left { 
        text-align: left;
    }
    
    .grid-item-right { 
        margin: 20px 0;
        padding-top: 10px;
        padding-left: 0;
        border-left: none;
        border-top: 5px solid var(--mamey);
    }

    header h1 { 
        text-align: center;
    }
    
    nav ul { 
        display: flex;
        flex-direction: column;
    } 

    nav li { 
        margin: 10px 0;
    }

    #work .grid-item-right {
        grid-template-columns: repeat(2, 49%);
    }
}
    /* END 500 */