/* Variables */
:root { 
    --gray: rgb(71, 72, 84); 
    --dark: rgb(24, 24, 100);
    --light: rgb(0, 181, 163); 
}

/* Page + Typography */
body { 
    background-color: rgb(255, 253, 250);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

h1 { 
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark);
}

h2 { 
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--dark);
}

h3 { 
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark);
}

p { 
    line-height: 1.2rem;
}

a { 
    text-decoration: none;
}


/* Styling */
header { 
    height: 200px;
    width: 100%;
    background-color: var(--gray);
}

header h1 { 
    margin: 20px;
}

nav ul { 
    color: var(--light);
    list-style: none;
    display: flex;
    justify-content: flex-end;
}